@charset "UTF-8";

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
    position: relative;
}

a {
    color: #292929;
}

a:hover,
a:focus {
    color: #4c9784;
    text-decoration: none;
}

strong{
    font-weight: 300;
}

h1 {
    font-size: 60px;
    font-weight: 100;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 45px;
    font-weight: 100;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

h3 {
    color: #292929;
    font-size: 33px;
    font-weight: 100;
}

h4 {
    font-size: 25px;
    font-weight: 100
}

h5 {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 0.7rem;
}

h5 strong{
    font-size: 25px;
}

p {
    font-size: 18px;
    color: #292929;
}

p.lead {
    color: #292929;
    margin-bottom: 2rem;
}

.top-form{
    padding: 1%;
    width: 32% !important;
    margin-right: 1% !important;
}

.input-icon-password{
    background: url(../images/coins.svg) no-repeat scroll 7px 7px #ffffff;
    padding-left:80px;
}

.input-icon-user{
    background: url(../images/coins.svg) no-repeat 7px 7px #ffffff ;
    padding-left:80px;
}

.btn-primary {
    background: #4c9784;
    font-weight: 500;
    padding: 1% 2rem;
    border: 0;
    cursor: pointer;
}

.btn-primary-big {
    background: #4c9784;
    color: #FFFFFF;
    font-weight: 500;
    padding: 4.5% 2rem !important;
    border: 0;
    cursor: pointer;
}

.btn-primary-big:hover{
    color: #FFFFFF;
}

.btn-outline-big {
    margin-top: 4%;
    border: 1px solid #ffffff;
    background: transparent;
    color: #FFFFFF;
    padding: 1rem 5rem !important;
    cursor: pointer;
}

.btn-outline-big:hover{
    background: #ffffff;
    color: #4c9784;
}

.btn-white-big {
    background: #FFFFFF;
    color: #4c9784;
    font-weight: 500;
    padding: 1% 3rem;
    border: 0;
    cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background: #4c9784;
    color: #FFF;
}

.btn-outline-light:hover{
    color: #4c9784;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.8rem 1rem;
    font-size: 15px;
}

.form-inline{
   background-color: transparent;
    padding: 2%;
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin-top: 4%;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.line {
    border-top: 1px solid #868e96;
    flex-grow: 1;
    margin: 0 10px;
}

.line-dot {
    border-top: 1px dashed #4c9784;
    flex-grow: 1;
    margin: 0 10px;
}

.text-blue{
    color: #4c9784;
}

.circle{
    margin: 0 auto;
    border: 2px solid #4c9784;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 20px;
    line-height: 70px;
}

.pair{
    margin-top: 3%;
}

#home h5{
    width: 80%;
    margin: 0 auto;
}

.light-bg {
    background-color: #F7F7F7;
}

.blue-bg {
    background-color: #4c9784;
}

.section {
    padding: 80px 0;
}

@media (max-width:767px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 21px;
    }
    h4 {
        font-size: 17px;
    }
    h5 {
        font-size: 13px;
    }
    h5 strong{
        font-size: 15px;
    }
    .top-form{
        width: 98% !important;
        margin: 1% !important;
    }
    .line-dot {
        display: none;
    }
    .pair{
        margin: 0 auto;
    }
    .wrapper{
        width: 100%;
    }
}


/* NAVBAR
----------------------*/

.navbar {
    padding: 1rem 0;
    transition: all 0.3s ease;
}

.navbar-nav>li>a, .navbar-brand{
    color: #FFFFFF !important;
}

.navbar-toggle .icon-bar{
    border: 1px solid #ffffff;
}

.is-scrolling,
.navbar-nav.menu-is-open {
    /*background-color: rgb(74, 13, 143);*/
    background: -moz-linear-gradient(45deg, #4c9784, #5aac98, #7cbdad);
    background: -webkit-linear-gradient(45deg, #4c9784, #5aac98, #7cbdad);
    background: linear-gradient(45deg, #4c9784, #5aac98, #7cbdad);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.navbar.is-scrolling {
    padding: 0;
}

.navbar-nav .nav-link {
    position: relative;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
    }
    .navbar-nav>.nav-item>.nav-link.active:after {
        content: "";
        left: 1rem;
        right: 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }
}

@media (max-width:991px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
}


/* HERO
----------------------*/

header {
    padding: 100px 0 0;
    text-align: center;
    color: #FFF;
    height:80vh;
}

.bg-gradient {
    background-image: -moz-linear-gradient( 45deg, #4c9784, #5aac98, #7cbdad);
    background-image: -webkit-linear-gradient( 45deg, #4c9784, #5aac98, #7cbdad);
    background-image: -ms-linear-gradient( 45deg, #4c9784, #5aac98, #7cbdad);
    background-image: linear-gradient(45deg, #4c9784, #5aac98, #7cbdad);
}

.top-20{
    margin-top: 20vh;
}

.laura-green{
    color: #4c9784;
}

.feature-img{
    text-align: center;
    position: relative;
    width: 50%;
    margin-top: -305px;
}


/* FEATURES
----------------------*/

.card.features {
    border: 1px solid #4c9784;
    border-radius: 3px;
    transition: all 0.3s ease;
    padding: 4%;
}

.inner{
    border-bottom: 1px solid #4c9784;
    padding: 2%
}

.inner-big{
    padding: 4%;
    width: 50%;
    margin: 0 auto;
}

.circle{
    border-radius: 50%;
    border: 2px solid #4c9784;
    padding: 2%;
}

.text-white{
    color: #ffffff !important;
}

@media (max-width:991px) {
    .card.features {
        margin-bottom: 2rem;
    }
    [class^="col-"]:last-child .card.features {
        margin-bottom: 0;
    }
}

.card.features:before {
    content: "";
    position: absolute;
    width: 3px;
    top: 0;
    bottom: 0;
    left: 0;
}

.card-text {
    font-size: 14px;
}

.card.features:hover {
    transform: translateY(-3px);
    -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
}

.spiral-pattern{
    background: gray url(https://subtlepatterns.com/patterns/photography.png) repeat 0 0
}


/*  FOOTER
----------------------*/

footer a{
    display: inline-block !important;
    width: 100%;
    text-decoration: none;
}

@media (max-width:991px) {
    h2{
        font-size: 30px;
    }
    p{
        font-size: 12px;
    }
    .top-20{
        margin-top: 0;
    }
}